@{
    var grid = Html.DevExpress().GridView(settings => {
        settings.Name = "gvRoles";
        settings.CallbackRouteValues = new { Controller = "Member", Action = "gvRolesPartial" };

        settings.SettingsEditing.AddNewRowRouteValues = new { Controller = "Member", Action = "gvRolesPartialAddNew" };
        settings.SettingsEditing.UpdateRowRouteValues = new { Controller = "Member", Action = "gvRolesPartialUpdate" };
        settings.SettingsEditing.DeleteRowRouteValues = new { Controller = "Member", Action = "gvRolesPartialDelete" };
        settings.SettingsEditing.Mode = GridViewEditingMode.EditFormAndDisplayRow;
        settings.SettingsBehavior.ConfirmDelete = true;

        settings.CommandColumn.Visible = true;
        settings.CommandColumn.ShowDeleteButton = User.IsInRole("Administrator") || User.IsInRole("SA");
        settings.CommandColumn.ShowEditButton = true;
        settings.CommandColumn.ShowNewButtonInHeader = true;
        settings.CommandColumn.Width = 60;

        settings.KeyFieldName = "Id";

        settings.SettingsPager.Visible = true;
        settings.Settings.ShowGroupPanel = false;
        settings.Settings.ShowFilterRow = true;
        settings.SettingsBehavior.AllowSelectByRowClick = true;

        settings.Columns.Add(col => {
            col.FieldName = "Name"; col.Caption = "Name"; col.Width = 150;
        });
        settings.Columns.Add("Description");

        settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
        //settings.CommandColumn.CustomButtons.Add(new GridViewCommandColumnCustomButton() { ID = "btnGetKey", Text = "Details", });
        //GridViewCommandColumnCustomButton btn = new GridViewCommandColumnCustomButton();
        //settings.CommandColumn.ButtonType = GridCommandButtonRenderMode.Button;

        //settings.SettingsCommandButton.NewButton.ButtonType = GridCommandButtonRenderMode.Image;
        //settings.SettingsCommandButton.NewButton.Image.IconID = IconID.ActionsNew16x16;
        //settings.SettingsCommandButton.EditButton.ButtonType = GridCommandButtonRenderMode.Image;
        //settings.SettingsCommandButton.EditButton.Image.IconID = IconID.EditCustomization32x32;
        //settings.CommandColumn.ButtonType = GridCommandButtonRenderMode.Image;
        //settings.SettingsCommandButton.DeleteButton.Image.IconID = IconID.ActionsDelete32x32devav;


        settings.SetEditFormTemplateContent(c => {
            var data = ViewData["data"] != null ? ViewData["data"] : c.DataItem;

            ViewContext.Writer.Write("<div class=\"editform col-md-6\">");

            Html.DevExpress().TextBox( cfg => {
                cfg.Name = "Name";
                cfg.ShowModelErrors = true;
                cfg.Width = System.Web.UI.WebControls.Unit.Pixel(260);
                cfg.Properties.ValidationSettings.RequiredField.IsRequired = true;
                cfg.Properties.ValidationSettings.Display = Display.Dynamic;
                cfg.Properties.NullText = "Role Name";
            }).Bind(DataBinder.Eval(data, "Name")).Render();


            Html.DevExpress().Memo(cfg => {
                cfg.Name = "Description";
                cfg.Width = System.Web.UI.WebControls.Unit.Pixel(260);
                cfg.Height = System.Web.UI.WebControls.Unit.Pixel(260);
                cfg.Properties.NullText = "Description";
                //cfg.Properties.Rows = 3;
                //cfg.Properties.Columns = 26;
            }).Bind(DataBinder.Eval(data, "Description")).GetHtml();
            ViewContext.Writer.Write("</div>");


            ViewContext.Writer.Write("<div class=\"editform col-md-12\" style='float:right; padding-top:20px;'>");
            Html.DevExpress().Button(
            btnSettings => {
                btnSettings.Name = "btnUpdate";
                btnSettings.Text = "Update";
                btnSettings.ClientSideEvents.Click = "function(s, e){ gvRoles.UpdateEdit(); }";
            }).Render();
            Html.DevExpress().Button(
                btnSettings => {
                    btnSettings.Name = "btnCancel";
                    btnSettings.Text = "Cancel";
                    btnSettings.Style[HtmlTextWriterStyle.MarginLeft] = "5px";
                    btnSettings.ClientSideEvents.Click = "function(s, e){ gvRoles.CancelEdit(); }";
                }).Render();
            ViewContext.Writer.Write("</div>");
        });

    });
    if (ViewData["EditError"] != null) {
        grid.SetEditErrorText((string)ViewData["EditError"]);
    }
}
@grid.Bind(Model).GetHtml()